@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

body {
  font-family: "Inter";
}

@import url("/assets/fonts/inter/inter.css");

/* PROJECTS */

.pattern-dots-md {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
}

.more-projects {
  column-count: 1;
  column-gap: 0.5em;
}

@media screen and (min-width: 768px) {
  .more-projects {
    column-count: 3;
    column-gap: 0.5em;
  }
}

.more-projects > div {
  margin-bottom: 4em;
  break-inside: avoid;
  page-break-inside: avoid;
}

.more-projects .animate-fade-in {
  animation-delay: calc(var(--index) * 100ms);
}

/* BLOG POST */

.prose li {
  word-break: break-word !important;
}
.prose code {
  word-break: break-word !important;
}

.dark .dark\:prose-dark pre code {
  background-color: transparent !important;
}

.post-card-image-wrapper > div {
  height: 100%;
}

.post-card-image-wrapper img {
  height: 100% !important;
  object-fit: cover !important;
  object-position: left !important;
}

/* INTRO */

.intro-title {
  position: absolute;
  left: 0;
  top: -30px;
}

.mask-bottom {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 21%,
    rgba(255, 255, 255, 1) 100%
  );
}

#intro-body span {
  opacity: 0;
  animation-name: staggeredLines;
  animation-duration: 750ms;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-delay: calc(150ms * var(--line-index));
  animation-fill-mode: forwards;
}

@keyframes staggeredLines {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.border-underline-grow {
  background-position: 0 300%;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  text-decoration: none;
  transition: background-size 350ms ease-in-out;
  padding: 3px;

  animation-name: backgroundSizeIntro;
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-fill-mode: forwards;
}

@keyframes backgroundSizeIntro {
  0% {
    background-position: 0 300%;
  }
  100% {
    background-position: 0 100%;
  }
}

.border-underline-grow:focus,
.border-underline-grow:hover {
  outline: none;
  background-size: 10px 50px;
}

@media screen and (min-width: 768px) {
  .intro-title:hover {
    cursor: default;
    transition: text-shadow 1000ms cubic-bezier(0.68, -0.6, 0.32, 1.6),
      mask-size 500ms ease-in-out;
    text-shadow: 0px 90px 1px palevioletred, 0px 180px 1.5px palevioletred,
      0px 270px 3.5px palevioletred, 0px 360px 5px palevioletred,
      0px 450px 6px palevioletred, 0px 540px 4px palevioletred;
    width: 100%;
    height: 50vh;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 1) 85%,
      rgba(255, 255, 255, 1)
    );
  }
}

/* FOOTER */

.web-vitals {
  display: none;
}

@media screen and (min-width: 768px) {
  .web-vitals {
    display: inline-block;
    position: relative !important;
    bottom: unset !important;
    right: unset !important;
    font-family: "Inter" !important;
    box-shadow: none !important;
    opacity: 0.2;
    border: 1px solid rgba(204, 204, 204, 0.75);
    transition: opacity 500ms ease-in-out;
  }
  .web-vitals:hover {
    opacity: 1;
  }
  .web-vitals div {
    margin-left: 1em;
    display: flex !important;
  }
  .web-vitals dd {
    margin-left: 0.5em !important;
  }
  .web-vitals > dl {
    display: flex;
  }
  html.dark .web-vitals {
    opacity: 0.05;
    border: 1px solid #1f2937;
  }
  html.dark .web-vitals:hover {
    opacity: 1;
  }
  html.dark .web-vitals a {
    color: #374151;
  }
  html.dark .web-vitals dd::after {
    opacity: 0.2;
  }
  html.dark .web-vitals dd {
    color: #374151;
  }
}
