@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
  .animation-delay-1100 {
    animation-delay: 1100ms;
  }
  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .reset {
    margin: 0 !important;
    padding: 0 !important;
  }
}

/* GLOBAL */

:root {
  --dark-text: #374151;
  --dark-border: #1f2937;
  --pink-300: 249, 168, 212;
  --palevioletred: 219, 112, 147;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONTS */

@layer base {
  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("/assets/fonts/inter/Inter-roman.var.woff2?v=3.19") format("woff2");
  }

  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("/assets/fonts/inter/Inter-italic.var.woff2?v=3.19")
      format("woff2");
  }
  /* jetbrains-mono-200 - latin */
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 200;
    src: local(""),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-200.woff2")
        format("woff2"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-200.woff")
        format("woff"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-200.ttf")
        format("truetype");
  }
  /* jetbrains-mono-regular - latin */
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-regular.woff2")
        format("woff2"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-regular.woff")
        format("woff"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-regular.ttf")
        format("truetype");
  }
  /* jetbrains-mono-500 - latin */
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 500;
    src: local(""),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-500.woff2")
        format("woff2"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-500.woff")
        format("woff"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-500.ttf")
        format("truetype");
  }
  /* jetbrains-mono-700 - latin */
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-700.woff2")
        format("woff2"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-700.woff")
        format("woff"),
      url("/assets/fonts/jetbrainsmono/jetbrains-mono-v6-latin-700.ttf")
        format("truetype");
  }
  /* spectral-200 - latin */
  @font-face {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 200;
    src: local(""),
      url("/assets/fonts/spectral/spectral-v7-latin-200.woff2") format("woff2"),
      url("/assets/fonts/spectral/spectral-v7-latin-200.woff") format("woff"),
      url("/assets/fonts/spectral/spectral-v7-latin-200.ttf") format("truetype");
  }
  /* spectral-300 - latin */
  @font-face {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 300;
    src: local(""),
      url("/assets/fonts/spectral/spectral-v7-latin-300.woff2") format("woff2"),
      url("/assets/fonts/spectral/spectral-v7-latin-300.woff") format("woff"),
      url("/assets/fonts/spectral/spectral-v7-latin-300.ttf") format("truetype");
  }
  /* spectral-regular - latin */
  @font-face {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("/assets/fonts/spectral/spectral-v7-latin-regular.woff2")
        format("woff2"),
      url("/assets/fonts/spectral/spectral-v7-latin-regular.woff")
        format("woff"),
      url("/assets/fonts/spectral/spectral-v7-latin-regular.ttf")
        format("truetype");
  }
  /* spectral-600 - latin */
  @font-face {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 600;
    src: local(""),
      url("/assets/fonts/spectral/spectral-v7-latin-600.woff2") format("woff2"),
      url("/assets/fonts/spectral/spectral-v7-latin-600.woff") format("woff"),
      url("/assets/fonts/spectral/spectral-v7-latin-600.ttf") format("truetype");
  }
  /* spectral-700 - latin */
  @font-face {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("/assets/fonts/spectral/spectral-v7-latin-700.woff2") format("woff2"),
      url("/assets/fonts/spectral/spectral-v7-latin-700.woff") format("woff"),
      url("/assets/fonts/spectral/spectral-v7-latin-700.ttf") format("truetype");
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #0e141b;
  border: 5px solid transparent;
  border-radius: 20px;
  transition: background-color 500ms ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  transition: background-color 500ms ease-in-out;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #f3f4f6;
}

html.dark ::-webkit-scrollbar-track {
  background-color: #0e141b;
}

/* NAV */

ul a {
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

ul a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgba(var(--pink-300), 1);
  height: 5px;
  transition-property: right;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.28, -0.4, 2.32, 1.6);
}

ul a:hover:before,
ul a:focus:before,
ul a:active:before {
  right: 0;
}

html[class="dark"] ul a:before {
  background: rgba(var(--palevioletred), 1);
}

/* PROJECTS */

.pattern-dots-md {
  background-image: repeating-linear-gradient(
    45deg,
    currentColor 0,
    currentColor 0.5px,
    transparent 0,
    transparent 50%
  );
  background-size: 15px 15px;
}
html[class="dark"] .pattern-dots-md {
  opacity: 0.5;
}

.more-projects {
  column-count: 1;
  column-gap: 0.5em;
}

@media screen and (min-width: 640px) {
  .more-projects {
    column-count: 2;
    column-gap: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .more-projects {
    column-count: 3;
    column-gap: 1em;
  }
}

.more-projects > div {
  margin-bottom: 4em;
  break-inside: avoid;
  page-break-inside: avoid;
}

.more-projects .animate-fade_in {
  animation-delay: calc(var(--index) * 100ms);
}

/* BLOG POST */

.prose li {
  word-break: break-word !important;
}
.prose code {
  word-break: break-word !important;
}

.dark .dark\:prose-dark pre code {
  background-color: transparent !important;
}

.post-card-image-wrapper > div {
  height: 100%;
}

.post-card-image-wrapper img {
  height: 100% !important;
  object-fit: cover !important;
  object-position: left !important;
}

.prose blockquote {
  font-style: normal;
  font-weight: 300;
}

.prose blockquote p:first-of-type::after,
.prose blockquote p:first-of-type::before {
  content: "";
}

.dark .dark\:prose-dark p a:not(.border-underline-grow) {
  color: rgba(var(--palevioletred), 1);
  text-decoration: underline;
}

.prose a:not(.border-underline-grow) {
  color: rgba(var(--palevioletred), 1);
  text-decoration: underline;
}

.prose summary::marker {
  content: "👉 ";
}

.prose img {
  width: 100%;
  height: auto;
}

/* INTRO */

.intro-title {
  position: absolute;
  left: 0;
  top: -30px;
}

.mask-bottom {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 21%,
    rgba(255, 255, 255, 1) 100%
  );
}

.mask-bottom-strong {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 21%,
    rgba(255, 255, 255, 1) 100%
  );
}

html.dark .js_darkmode_flicker {
  --primary: rgba(221, 119, 153, 0.455);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.033em rgb(255, 255, 255), 0 0 0.08em #fff,
    0 0 0.1em var(--primary), 0 0 0.2em var(--primary), 0 0 0.3em var(--primary),
    0 0 1em var(--primary);
}

#intro-body span {
  opacity: 0;
  animation-name: staggeredLines;
  animation-duration: 750ms;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-delay: calc(150ms * var(--line-index));
  animation-fill-mode: forwards;
}

@keyframes staggeredLines {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.border-underline-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}

.border-underline-grow:before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 100%;
  max-height: 9px;
  width: 100%;
  background: rgba(var(--pink-300), 0.7);
  transform: scaleY(0.4);
  transition-property: max-height, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

html[class="dark"] .border-underline-grow:before {
  background: rgba(var(--palevioletred), 0.6);
}

html[class="dark"] .border-underline-grow:hover,
html[class="dark"] .border-underline-grow:focus,
html[class="dark"] .border-underline-grow:active {
  color: white;
}

.border-underline-grow:hover:before,
.border-underline-grow:focus:before,
.border-underline-grow:active:before {
  transform: scaleY(1);
  max-height: 100%;
  transition-timing-function: cubic-bezier(0.98, -0.4, 0.32, 1.6);
}

.image-color > svg > path {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  html:not(.dark) .intro-title:hover {
    cursor: default;
    transition: text-shadow 1000ms cubic-bezier(0.98, -0.4, 0.32, 2.2),
      mask-size 500ms ease-in-out;
    text-shadow: 0px 90px 1px palevioletred, 0px 180px 1.5px palevioletred,
      0px 270px 3.5px palevioletred, 0px 360px 5px palevioletred,
      0px 450px 6px palevioletred, 0px 540px 4px palevioletred;
    width: 100%;
    height: 50vh;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 1) 85%,
      rgba(255, 255, 255, 1)
    );
  }
}
